<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComprasUAQ.Properties.Settings.comprasConnectionString1"
            connectionString="Data Source=148.220.38.243;Initial Catalog=compras;User ID=sa;Password=5f2LQ9qSrE@FVF%we@TE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>